@use 'variable' as *;

span{
    font-weight: bold;
}

.overlay {
    @apply fixed inset-0 z-[999] bg-black/80 h-auto;
}


.close {
    @apply sticky top-0.5 left-[100%] w-[25px] h-[25px] cursor-pointer text-black inline-block;
}

.popup {
    @apply absolute min-w-[500px] w-2/5 top-[10%] left-0 right-0 mx-auto rounded-[10px] ;
    @apply bg-white overflow-y-scroll;
    box-shadow: 0px 0px 10px 0px black;
    animation: slideshow 0.3s ease-in;
    min-width: 450px;
    scrollbar-width: none;
}



.main{
    @apply relative w-full min-h-[500px] pb-10 pt-5;
    height: calc(100% + 50px);
    background-image: $globalBackGround;
}

.standwardLabel{
    color:theme('colors.amber.800');
    font-size: 18px;
}

.standwardSubLabel{
    color:theme('colors.amber.600');
    font-size: theme('fontSize.base');
}

.right{
    border-left: 2px dotted rgb(164, 95, 21);
}

.addBtn.clicked{
    color:theme('colors.amber.500');
    border-color: theme('colors.amber.500');
}

.removeBtn,.addBtn{
    color:theme('colors.stone.400');
    border-color: theme('borderColor.stone.400');
    border-radius: theme('borderRadius.md');
    border-width: theme('borderWidth.2');
    border-style: solid;
    min-width: 50px;

    &:hover{
        color: theme('colors.white');
        border-color: theme('borderColor.white');
    }
}

.colorSelect{
    background-color: rgb(105, 13, 13);
    color: white;
    border:theme('borderRadius.lg');
    width: theme('width.1/10');
    min-width: 150px;
}

.slide{
    border-top: 1px gray solid;
}

::-webkit-scrollbar{
    display: none !important;
}



